<li class="single-card">
    <article class="snippet">
        <div class="card-thubnail"><a href="{{ post.url }}"><img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}"></a></div>
        <div class="card-content">
            <div class="card-title"><a href="/article"><h3 class="section-title">{{ post.data.title }}</h3></a></div>
            <div class="card-description"><p class="card-price">{{ post.data.price }}</p></div>
        </div>
    </article>
</li>