<li class="gallery-box">
    <article class="gallery-snippet" data-index="{{ forloop.index }}" onclick="toggleSlideshow(this);">
        <div class="gallery-thubnail"><img class="gallery-img" src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}"></a>
        <div class="gallery-information">
            <div class="gallery-title"><h5 class="section-title">{{ post.data.title }}</h5></div>
            <div class="gallery-description"><p class="card-price">{{ post.data.description }}</p></div>
        </div>
    </article>
</li>