<div class="top-header">
    <div class="nav">
      <div class="nav-top">
        <ul class="links-left">
        <li class="top-links"><p>Mon-Sat:<span style="font-weight: 500;"> 8 AM - 19 PM</span> </p></li>
        <li class="top-links"><p>Sunday:<span style="font-weight: 500;"> Closed</span> </p></li>
        </ul>
      </div>
      <div class="links-middle">
        <p>For appointments, contact us at <span style="font-weight: 500;">+38344333456.</span></p>
      </div>
      <div class="sm-icons-top">
        <ul class="links-right">
        <li class="sm-icons">
          <a href="https://www.facebook.com/bunabeautycenter" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li class="sm-icons">
          <a href="https://www.instagram.com/buna_beauty_center/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </li>
        </ul>
      </div>
    </div>
</div>
<nav class="top-nav {{ nav }}">
  <div id="header" class="wrapper header-wrapper">
    <label for="menu-btn" class="ham black menu-btn"><i class="fas fa-bars"></i></label>

    <div class="logo">
        <a href="#"><img src="/assets/buna-logo-white.png" class="white-logo" alt=""></a>
        <a href="#"><img src="/assets/buna-logo.png" class="black-logo" alt=""></a>
    </div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-links">
      <label for="close-btn" class="cls close-btn"><i class="fas fa-times"></i></label>
      <li><a href="/index">Home</a></li>
      <li>
        <a href="/services" class="desktop-item">Services</a>
        <input type="checkbox" id="showMega">
        <label for="showMega" class="mobile-item">Services</label>
        <div class="mega-box">
          <div class="content">
            <div class="col">
              <a href=""><img src="/assets/bikini-waxing.jpg" alt=""></a>
              <a href="/services" class="col-link"> Waxing</a>
            </div>
            <div class="col">
                <a href=""><img src="/assets/manicure.jpg" alt=""></a>
                <a href="/services">Manicure</a>
            </div>
            <div class="col">
                <a href=""><img src="/assets/pedicure.jpg" alt=""></a>
                <a href="/services">Pedicure</a>
            </div>
            <div class="col">
                <a href=""><img src="/assets/faceTreatment.jpg" alt=""></a>
                <a href="/services">Face Treatment</a>
            </div>
          </div>
        </div>
      </li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/index#contact">Contact</a></li>
        
    </ul>
    <div class="right-space"></div>

  </div>
</nav>
