---
title: Elegant Nail Art Gallery
layout: 'base.njk'
nav: 'solid-nav'
---
<section class="gallery-individual">
    <header class="gallery-header">
        <div class="gallery-image"></div>
        <div class="gallery-container">
            <div class="head-wrapper">
                <div class="gallery-upper-content">
                    <h1 class="section-title">Check Our
                         Nails Gallery</h1>
                    <p>Specializing in nails, waxing, and beauty care,
                        we’re here to help you look and feel your best.</p>
                </div>
                <div class="gallery-bottom-content">
                    <a href="#gallery">
                                <span class="tagline">Gallery</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <section id="gallery" class="gallery-content pad">
        <div class="gallery-content-container">
            <ul class="gallery-content-wrapper">
                {%- for post in collections.nails -%}
                  {% include 'gallery-snippet.njk' %}
                {%- endfor %}
            </ul>
        </div>
    </section>
    <section class="slideshow">
        <div class="shadow" onclick="toggleSlideshow();"></div>
      <div class="slideshow-container">

        

        <!-- Full-width images with number and caption text -->
        {%- for post in collections.nails -%}
        <div class="mySlides fade">
            {% include 'gallery-snippet.njk' %}
        </div>
        {%- endfor %}
      
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>
    </section>
</section>
<script>
    function toggleSlideshow() {
        var slideshow = document.querySelector(".slideshow");
        slideshow.classList.toggle("active");

        if (slideshow.classList.contains("active")) {
            slideshow.style.display = 'block';
        } else {
            slideshow.style.display = 'none';
        }
    }

    let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>
