---
title: Specializing in nails, waxing, and beauty care
layout: 'base.njk'
nav: 'solid-nav'
---

<section class="services">
  <div class="margin-top"></div>
  <div class="service-individualBg"></div>
  <div class="services-wrapper">
    <div class="container-content1">
      <h2 id="tabs-title" class="section-title">Check Our Beauty Services</h2>
    </div>
    <div class="tabs-container1">
      <ul aria-labelledby="tabs-title" class="tabs-title">
        <li><a id="tab-1" class="tabs" href="#all-services"> All Services </a></li>
        <li><a id="tab-1" class="tabs" href="#waxing"> Waxing </a></li>
        <li><a id="tab-2" class="tabs" href="#manicure"> Manicure </a></li>
        <li><a id="tab-3" class="tabs" href="#pedicure"> Pedicure </a></li>
        <li><a id="tab-4" class="tabs" href="#face-treatment"> Face Treatment </a></li>
        </ul>
  
        <div class="tabs__panels flow">
          <div id="all-services" aria-labelledby="tab-1">
            <ul class="cards-wrapper">
              {%- for post in collections.post -%}
                {% include 'single-snippet.njk' %}
              {%- endfor %}
            </ul>
          </div>
          <div id="waxing" aria-labelledby="tab-2" >
            <ul class="cards-wrapper">
              {%- for post in collections.waxing -%}
                {% include 'single-snippet.njk' %}
              {%- endfor %}
            </ul>
          </div>
          <div id="manicure" aria-labelledby="tab-3">
            <ul class="cards-wrapper">
              {%- for post in collections.manicure -%}
                {% include 'single-snippet.njk' %}
              {%- endfor %}
            </ul>
          </div>
          <div id="pedicure" aria-labelledby="tab-4">
            <ul class="cards-wrapper">
              {%- for post in collections.pedicure -%}
                {% include 'single-snippet.njk' %}
              {%- endfor %}
            </ul>
          </div>
          <div id="face-treatment" aria-labelledby="tab-5">
            <ul class="cards-wrapper">
              {%- for post in collections.facetreatment -%}
                {% include 'single-snippet.njk' %}
              {%- endfor %}
            </ul>
          </div>
        </div>
    </div>
  <div class="margin-bottom"></div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', function() {
  const hash = window.location.hash;  // Get the hash part from the URL
  const validTabs = ['#all-services', '#waxing', '#manicure', '#pedicure', '#face-treatment']; // List of valid tab IDs

  // If there's a valid hash in the URL, switch to the corresponding tab
  if (validTabs.includes(hash)) {
    const tabToActivate = document.querySelector(`.tabs a[href="${hash}"]`);
    if (tabToActivate) {
      switchTab(tabToActivate);
    }
  }

  const tabsContainer = document.querySelector(".tabs-container1 , .tabs-container");
  const tabsList = tabsContainer.querySelector("ul");
  const tabButtons = tabsList.querySelectorAll("a");
  const tabPanels = tabsContainer.querySelectorAll(".tabs__panels > div");

  tabsList.setAttribute("role", "tablist");

  tabsList.querySelectorAll("li").forEach((listitem) => {
    listitem.setAttribute("role", "presentation");
  });

  tabButtons.forEach((tab, index) => {
    tab.setAttribute("role", "tab");
    if (index === 0) {
      tab.setAttribute("aria-selected", "true");
    } else {
      tab.setAttribute("tabindex", "-1");
      tabPanels[index].setAttribute("hidden", "");
    }
  });

  tabPanels.forEach((panel) => {
    panel.setAttribute("role", "tabpanel");
    panel.setAttribute("tabindex", "0");
  });

  tabsContainer.addEventListener("click", (e) => {
    const clickedTab = e.target.closest("a");
    if (!clickedTab) return;
    e.preventDefault();
    
    switchTab(clickedTab);
  });

  tabsContainer.addEventListener("keydown", (e) => {
    switch (e.key) {
      case "ArrowLeft":
        moveLeft();
        break;
      case "ArrowRight":
        moveRight();
        break;
      case "Home":
        e.preventDefault();
        switchTab(tabButtons[0]);
        break;
      case "End":
        e.preventDefault();
        switchTab(tabButtons[tabButtons.length - 1]);
        break;
    }
  });

  function moveLeft() {
    const currentTab = document.activeElement;
    if (!currentTab.parentElement.previousElementSibling) {
      switchTab(tabButtons[tabButtons.length - 1]);
    } else {
      switchTab(
        currentTab.parentElement.previousElementSibling.querySelector("a")
      );
    }
  }

  function moveRight() {
    const currentTab = document.activeElement;
    if (!currentTab.parentElement.nextElementSibling) {
      switchTab(tabButtons[0]);
    } else {
      switchTab(currentTab.parentElement.nextElementSibling.querySelector("a"));
    }
  }

  function switchTab(newTab) {
    const activePanelId = newTab.getAttribute("href").substring(1);
    const activePanel = tabsContainer.querySelector(`#${activePanelId}`);

    tabButtons.forEach((button) => {
      button.setAttribute("aria-selected", false);
      button.setAttribute("tabindex", "-1");
    });

    tabPanels.forEach((panel) => {
      panel.setAttribute("hidden", true);
    });

    activePanel.removeAttribute("hidden");

    newTab.setAttribute("aria-selected", true);
    newTab.setAttribute("tabindex", "0");
    newTab.focus();
  }
});

</script>


